<div class="btn-group btn-group-sm" role="group">
	<a href="{ file.viewUrl }" class="btn btn-outline-primary" target="_blank">
		<i class="fa-solid fa-eye fa-fw"></i>
	</a>
	<a href="{ file.downloadUrl }" class="btn btn-outline-primary">
		<i class="fa-solid fa-download fa-fw"></i>
	</a>
	<button type="button" class="btn btn-outline-warning action-on-selected" data-action="click->sowapps--so-core--item-file#remove">
		<i class="fa-solid fa-trash fa-fw"></i>
	</button>
</div>
