<div class="media-picker picker-file-library" data-controller="sowapps--so-core--picker-library"
		{#- No translation for now -#}
	 data-sowapps--so-core--picker-library-messages-value="{{ translations('widget.mediaPicker.library', []) | json }}"
	 data-sowapps--so-core--picker-library-list-url-value="{{ url('so_core_api_file_list') }}"
	 data-key="library" data-label="{{ 'widget.mediaPicker.library.label' | trans }}">
	
	<div class="list-view">
		
		{# View list as rows #}
		<div class="view-row" data-controller="sowapps--so-core--list-file-row" data-type="row"
			 data-sowapps--so-core--picker-library-target="rowView">
			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="list-group mb-2">
						<li class="list-group-item border border-info">
							<div class="item-file item-header">
								{#                        <div class="item-select me-2"> #}
								{#                            <input class="form-check-input" type="checkbox"> #}
								{#                        </div> #}
								<div class="item-icon">
									<i class="fa-solid fa-file fa-fw"></i>
								</div>
								<div class="item-name">{{ 'widget.file.name' | trans }}</div>
								<div class="item-actions ms-2">
									<div class="btn-group btn-group-sm" role="group">
										<button type="button" class="btn btn-outline-secondary"
												data-action="click->sowapps--so-core--picker-library#changeView"
												data-sowapps--so-core--picker-library-target="rowButton"
												data-sowapps--so-core--picker-library-view-param="row">
											<i class="fa-solid fa-list fa-fw"></i>
										</button>
										<button type="button" class="btn btn-outline-secondary"
												data-action="click->sowapps--so-core--picker-library#changeView"
												data-sowapps--so-core--picker-library-target="thumbnailButton"
												data-sowapps--so-core--picker-library-view-param="thumbnail">
											<i class="fa-solid fa-images fa-fw"></i>
										</button>
									</div>
								</div>
							</div>
						</li>
					</div>
					<div class="list-group" data-sowapps--so-core--list-file-row-target="list">
					</div>
				</div>
				<div class="d-none d-lg-block col-lg-4">
					{% include '@SoCore/component/picker/section.file.preview.html.twig' %}
				</div>
			</div>
			{#            <div class="item-file" data-controller="sowapps--so-core--item-file" data-selectable="true"> #}
			{#            </div> #}
			<template data-sowapps--so-core--list-file-row-target="itemTemplate">
				<li class="list-group-item">
					{#                    <div class="item-file" data-controller="sowapps--so-core--item-file" data-selectable="true"> #}
					<div class="item-file" data-controller="sowapps--so-core--item-file" data-selectable="true">
						{#                    <div class="item-select me-2"> #}
						{#                        <input class="form-check-input" type="checkbox" data-action="change->sowapps--so-core--item-file#refreshSelect"> #}
						{#                    </div> #}
						<div class="item-icon">{ icon }</div>
						<div class="item-name">{ file.label }</div>
						<div class="item-actions ms-2" onclick="event.stopPropagation();">
							{% include "@SoCore/component/picker/actions.file.list.html.twig" %}
						</div>
					</div>
				</li>
			</template>
		</div>
		
		{# View list as thumbnails #}
		<div class="view-thumbnail">
			<div data-controller="sowapps--so-core--list-file-thumbnail" data-type="thumbnail" data-sowapps--so-core--picker-library-target="thumbnailView">
				<div class="list-header d-flex border border-info rounded-2 mb-2">
					<div class="item-actions ms-auto px-3 py-2">
						<div class="btn-group btn-group-sm" role="group">
							<button type="button" class="btn btn-outline-secondary"
									data-action="click->sowapps--so-core--picker-library#changeView"
									data-sowapps--so-core--picker-library-target="rowButton"
									data-sowapps--so-core--picker-library-view-param="row">
								<i class="fa-solid fa-list fa-fw"></i>
							</button>
							<button type="button" class="btn btn-outline-secondary"
									data-action="click->sowapps--so-core--picker-library#changeView"
									data-sowapps--so-core--picker-library-target="thumbnailButton"
									data-sowapps--so-core--picker-library-view-param="thumbnail">
								<i class="fa-solid fa-images fa-fw"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="row" data-sowapps--so-core--list-file-thumbnail-target="list">
				</div>
				<template data-sowapps--so-core--list-file-thumbnail-target="itemTemplate">
					<div class="col col-lg-3">
						<div class="item-file p-2 watch-hover" data-controller="sowapps--so-core--item-file" data-selectable="true">
							<div class="mb-2">{ image }</div>
							<h6 class="text-center">{ file.label }</h6>
							<div class="show-selected mb-1 text-center">
								<div class="fw-bold">{ file.mimeType }</div>
								<div class="fw-bold">{ file.size.label }</div>
							</div>
							<div class="item-actions mt-2 text-center show-hover" onclick="event.stopPropagation();">
								{% include "@SoCore/component/picker/actions.file.list.html.twig" %}
							</div>
						</div>
					</div>
				</template>
			</div>
		</div>
	</div>

</div>
