<div class="alert alert-success alert-dismissible fade show" role="alert">
	{{ message | trans(parameters | default([]), domain | default(null)) }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'action.close' | trans }}"></button>
</div>
