{% extends '@SoCore/document-web-admin.html.twig' %}

{% block documentContents %}
	
	<div id="layoutAuthentication" {% if background is defined and background %}style="background-image: url('{{ asset(background) }}')"{% endif %}>
		<div id="layoutAuthentication_content">
			<main class="pb-5">
				<div class="container">
					{% block layoutContents %}Please provide block layoutContents{% endblock %}
				</div>
			</main>
		</div>
		<div id="layoutAuthentication_footer">
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					{% include "@SoCore/admin/section/footer-copyright.html.twig" %}
				</div>
			</footer>
		</div>
	</div>

{% endblock %}
