{% extends '@SoCore/document-web-admin.html.twig' %}

{% block documentContents %}
	
	<div id="layoutAuthentication" {% if background is defined and background %}style="background-image: url('{{ asset(background) }}')"{% endif %}>
		<div id="layoutAuthentication_content">
			<main class="pb-5">
				<div class="container">
					{% block layoutContents %}
						
						<div class="row justify-content-center">
							<div class="col-lg-5 pt-5">
								{% block reports %}{% endblock %}
								
								<div class="card shadow-lg border-0 rounded-lg">
									<div class="card-header">
										<h1 class="text-center font-weight-light my-4 fs-2">
											{%- block title %}{% endblock -%}
										</h1>
									</div>
									<div class="card-body">
										{%- block body %}{% endblock -%}
									</div>
									<div class="card-footer text-center py-3">
										<div class="small">
											{%- block footer -%}{%- endblock -%}
										</div>
									</div>
								</div>
							</div>
						</div>
					
					{% endblock %}
				</div>
			</main>
		</div>
		<div id="layoutAuthentication_footer">
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					{% include "@SoCore/admin/section/footer-copyright.html.twig" %}
				</div>
			</footer>
		</div>
	</div>

{% endblock %}
