{% trans_default_domain 'emails' %}

{% extends '@SoCore/document-email.html.twig' %}

{% block purposeTitle %}Test Email{% endblock %}

{% block contents %}
	
	<h4>Test Email</h4>
	<p>If received and well displayed, you are ensured that email sending is working fine.</p>

{% endblock %}
